footer {
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin-top: 10px;
}

.metadata {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 15px;
}